.container-signup{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: opacity 500ms;
}

.container-signup > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-signup > form > input{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.08);
    padding: 10px;
    font-size: 18px;
    width: 300px;
    height: 50px;
    background-color: var(--form);
    margin-bottom: 10px;
}
.container-signup > form > button{
    width: 300px;
    height: 50px;
}
.container-signup > a{
    text-decoration: none;
    font-size: 18px;
    color: var(--text-alternative);
    background-color: var(--button);
    padding: 10px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    text-align: center;
    float: right;
    margin-bottom: 10px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}