.utils-form{
    background-color: var(--form);
    border-radius: 5px;
    text-align: center;
    height: 50px;
}

.utils-form > h3{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: var(--text-color);
}

.icons-table{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    gap: 18px;
    justify-content: center;
    background-color: var(--form);
    align-items: center;
    height: 50px;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
}
.icons-table > div{
    display: flex;
    align-items: center;
}
@media screen and (max-width:890px) {
    .icons-table{
        min-width: 100px;
        height: 50px;
    }
}
