.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form{
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
}

.modal-form > input{
    width: 300px;
    font-size: 18px;
    background-color: var(--form);
    padding: 10px;
}

.modal-form > h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--text-alternative);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-content{
    background-color: transparent;
}