.click{
    grid-column: 6 / span 2;
    display: flex;
    justify-content: center;
}

#showButton{
    cursor: pointer;
    color: var(--text-alternative);
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    padding: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

li{
    display: flex;
    padding: 10px;
    background-color: var(--button);
    border-radius: 5px;
    height: 40px;
    width: max-content;
}

.button-navbar{
    cursor: pointer;
    color: var(--text-alternative);
    font-weight: 700;
    font-size: 16px;
}

.icons-navbar > p{
    font-size: 16px;
}