@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,700;10..48,800&display=swap');

:root{
    --background-body: #ffffff;
    --text-color: #1359BB;
    --text-alternative: #FFFFFF;
    --button: #1359BB;
    --button-dark: #001F34;
    --modal: #eaeaea;
    --form: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, input, button{
    font-family: 'Bricolage Grotesque', sans-serif;
    -webkit-font-smoothing: antialiased;
}
input, button{
    background-color: var(--button);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 700;
}

button:disabled{
    cursor: not-allowed;
}

::placeholder{
    color: var(--text-alternative);
    opacity: 0.4;
    font-weight: 400;
}

body{
    background-color: var(--background-body);
}

h1{
    animation: opacity 1s;
    font-weight: 800;
    font-size: 22px;
    color: var(--text-color);
}

small{
    opacity: 0.5;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    max-width: 300px;
    width: 100%;
    background-color: transparent;
}


.modal-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.modal-form > input{
    background-color: var(--button-dark);
    color: var(--text-alternative);
    font-weight: 500;
}

.modal-content > button, .modal-form > button{
    background-color: var(--button);
    color: var(--text-alternative);
}

.modal-content > button, .modal-form > input, .modal-form > button{
    height: 40px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.modal-content > button{
    margin-top: 5px;
}

.modal-form > h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--text-alternative);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.correct{
    border: 1px solid yellowgreen;
}

.wrong:focus{
    border: 1px solid red;
}

.toast-fonts{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
}

@keyframes opacity{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}