@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,700;10..48,800&display=swap');

:root{
    --background-body: #ffffff;
    --text-color: #1359BB;
    --text-alternative: #FFFFFF;
    --button: #1359BB;
    --button-dark: #001F34;
    --modal: #eaeaea;
    --form: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, input, button{
    font-family: 'Bricolage Grotesque', sans-serif;
    -webkit-font-smoothing: antialiased;
}
input, button{
    background-color: var(--button);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 700;
}

button:disabled{
    cursor: not-allowed;
}

::placeholder{
    color: var(--text-alternative);
    opacity: 0.4;
    font-weight: 400;
}

body{
    background-color: var(--background-body);
}

h1{
    animation: opacity 1s;
    font-weight: 800;
    font-size: 22px;
    color: var(--text-color);
}

small{
    opacity: 0.5;
}

a{
    text-decoration: none;
}

@keyframes opacity{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}