@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

:root{
    --background-body: #DDF4E7;
    --text-color: #436751;
    --text-alternative: #FFFFFF;
    --button: #75FAAA;
    --modal: #DDF4E7;
    --form: #EBFFF3;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container-table{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

body, input, button{
    font-family: 'Heebo', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}
input, button{
    background-color: var(--button);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

::placeholder{
    color: var(--text-color);
    opacity: 0.4;
}

body{
    background-color: var(--background-body);
    margin-top: 50px;
}

.utils{
    background-color: var(--button);
    border-radius: 5px;
    text-align: center;
}

.utils > h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: var(--text-alternative);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.name{
    grid-column: 3 / span 2;
}

.email{
    grid-column: 5 / span 3;
}

.gift{
    grid-column: 8 / span 2;
}

.icons{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--button);
    padding: 4px 8px;
    border-radius: 5px;
    color: var(--text-alternative);
}
.icons > svg{
    filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.1));
}