.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-content{
    width: 90%;
    max-width: 400px;
    background-color: var(--modal);
    padding: 10px;
    border-radius: 5px;
}

button{
    float: right;
}